
    <form class="form-signin">
      <div class="text-center mb-4">
        <img class="mb-4" src="../assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
        <h1 class="h3 mb-3 font-weight-normal">Sign In</h1>

      </div>

      <div class="form-label-group">
        <input type="name" id="inputname" class="form-control" placeholder="Name" required autofocus>
        <label for="inputname">Name</label>
      </div>

      <div class="form-label-group">
        <input type="password" id="nic" class="form-control" placeholder="Password" required>
        <label for="inputnic">NIC</label>
      </div>

      <div class="checkbox mb-3">
        <label>
          <input type="checkbox" value="remember-me"> Remember me
        </label>
      </div>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
      <p class="mt-5 mb-3 text-muted text-center">&copy; 2017-2020</p>

            <ul class="login-more p-t-190">
              <li class="m-b-8">
                <span class="txt1">
                  Forgot
                </span>

                <a href="#" class="txt2">
                  Username / Password?
                </a>
              </li>

              <li>
                <span class="txt1">
                  Don’t have an account?
                </span>

                <a href="/signup" class="txt2">
                 <p>  Sign up </p>
                </a>
              </li>
            </ul>

    </form>
